#main-ctn{
    width: 100%;
    padding: 160px 0 0 0;
    text-align: center;
    h1{
        border-bottom: 8px ridge $colour-primary;
        border-radius: 7px;
        display: inline;
        padding: 0 0 5px 0;
    }
}


.carte{
    display: flex;
    justify-content: center;
    margin: 80px 0 0 0;
   
    > li{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 350px;
        background: $colour-white;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0px 1px 10px silver;
        margin-bottom: 20px;
        margin-left: 25px;
        margin-right: 25px;
        position: relative;

        a{
            display: flex;
            flex-direction: column;

            img{
                max-width: 100%;
            }
        }
    }

    &__ctn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: $colour-white;
        padding: 15px 0px 15px 0px;
        position: absolute;
        bottom: 0;
        
        &--text{
            padding: 0 0 0 20px;

            h2{
                margin-bottom: 4px;
            }
        }

        &--panier{
            font-size: 1.6em;
            padding: 0 35px 0 0;
            i{
               color: $colour-secondary; 
            }
            
        }
    }
}