#main-ctn{
    width: 100%;
    padding: 160px 0 120px 0;
    text-align: center;
        @include mobile-only{
            padding: 140px 0 50px 0;
        }
    h1{
        border-bottom: 8px ridge $colour-primary;
        border-radius: 7px;
        display: inline;
        padding: 0 0 5px 0;
            @include mobile-only{
                font-size: 1.5em;
            }
    }
}


.carte{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 30px 0 30px;
    @include mobile-only{
        margin: 80px 5px 0 5px;
    }
   
    > li{
        display: flex;
        flex-direction: column;
        width: 45vh;
        height: 30vh;
        background: $colour-white;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0px 1px 10px silver;
        margin-bottom: 40px;
        margin-left: 25px;
        margin-right: 25px;
        position: relative;

        &:hover{
            box-sizing: border-box;
            border: 3px solid $colour-primary;
            transform: scale(1.03);
            transition: transform 200ms ease;
        }

        a{
            display: flex;
            flex-direction: column;

            img{
                max-width: 100%;
            }
        }
    }

    &__ctn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: $colour-white;
        padding: 10px 0px 10px 0px;
        position: absolute;
        bottom: 0;
        
        &--text{
            padding: 0 0 0 20px;

            h2{
                margin-bottom: 4px;
            }
        }

        &--panier{
            font-size: 1.6em;
            padding: 0 35px 0 0;
            i{
               color: $colour-secondary; 
            }
            
        }
    }
}