footer{
    //width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: $colour-accent;
    padding: 5% 8% 5% 8%;
        @include mobile-only{
            flex-direction: column;
            padding: 0px 50px 20px 50px;
        }
    a{
        margin: 15px 0 0 0;
            @include mobile-only{
                text-align: center;
            }
        img{
          width: 250px;  
            @include mobile-only{
                width: 70%;
            }
        }  
    }
    ul{
        margin: 0 0 0 20px;
            @include mobile-only{
                margin-bottom: 10px;
                margin-left: 0;
            }

        h3{
            color: $colour-primary;
            border-bottom: 6px solid $colour-primary;
            margin-bottom: 20px;
        }
        li{
            margin: 0 0 5px 0;
            cursor: pointer;

            &::before {
                content: "\2022"; 
                color: $colour-primary; 
                font-weight: bold; 
                display: inline-block; 
                width: 1em;
            }
        }
    }

    

}

