
header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    box-shadow: 0px 1px 7px silver;
    position: relative;
    background: $colour-white;

    img {
        margin-bottom: 3px;
        width: 160px;
    }

    a{
        font-size: 20px;
        position: absolute;
        left: 20px;
        bottom: 17px;
    }
}