.btn_degrade{
    background: $colour-degrade;
    color: white;
    border: 0;
    border-radius: 100px;
    padding: 15px 25px 15px 25px;
    box-shadow: 0px 3px 8px silver;
    min-width: 190px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 100px;
        background: linear-gradient(to bottom right, lighten($colour-secondary, 5), lighten($colour-primary, 5));
        box-shadow: 0px 3px 8px rgb(112, 112, 112);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}


.ctn-heart{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    &--fill{
        font-size: 1.7em;
        color: black;
    }
    
    &--plein{
        display: inline-block;
        font-size: 1.85em;
        cursor: pointer;
        background: $colour-degrade;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         position: absolute;
         opacity: 0;
         
         &:hover{
            transform-origin: bottom;
            animation: heart 500ms ease-in-out both;
         }
    }
}

@keyframes heart{
    0% {
        opacity: 0;   
    }
    
    100% {
        opacity: 1;
    }
}
