#main-panier{
    width: 100%;
    padding: 150px 0 80px 0;
    text-align: center;
    h1{
        border-bottom: 8px ridge $colour-primary;
        border-radius: 7px;
        display: inline;
        padding: 0 0 5px 0;
    }

    #tableau-panier{
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: 7%;
        margin-right: 7%;
        
        table{
            width: 65%;
            border-collapse: collapse;

            thead{
                tr{
                    border: 1px solid rgb(228, 228, 228);
                    th{
                        height: 30px;
                    }     
                }
            }
            tbody{
                tr{
                    border: 1px solid rgb(228, 228, 228);
                    td{
                        height: 100px;
                        color: $colour-primary;  
                        
                        img{
                            height: 80px;
                            margin: 0 50px 0 50px;
                        }

                        i{
                            color: silver;
                        }
                    }
                }
            }
            tfoot{
                tr{
                    border: 1px solid rgb(228, 228, 228);
                    th{
                        height: 50px;
                        text-align: end;
                        padding-right: 30px;
                        font-size: 1.2em;
                    }
                }
            }
        }

        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 28%;
            border: 1px solid rgb(228, 228, 228);
            border-radius: 15px;
            padding: 10px;
            h2{
                font-size: 1.8em;
                text-align: start;
                margin-top: 5px;
                margin-bottom: 20px;
            }
            label{
                text-align: start;
            }
            input{
                height: 35px;
                margin: 0 0 20px 0;
                border: 2px solid $colour-primary;
                border-radius: 10px;
                &:focus{
                    outline: none;
                    border: 2px solid $colour-accent;
                    border-radius: 10px;
                }
                &:invalid {
                    border: 2px solid lightgrey;
                  }
            }

            p{
                font-size: 0.8em;
                font-style: italic;
                text-align: start;
                margin-bottom: 20px;
            }

            #form-button{
                cursor: pointer;
                text-decoration: none;
                background-color: $colour-secondary;
                height: 50px;
                border: none;
                width: 100%;
                font-size: 1.1em;
                color: white;
                &:hover, &:focus {
                background: $colour-primary;
                
                }
            }



        }
    }
}