$bloc-mods: (
    lightgray: $colour-lightgray,
    lightpurple: lighten($colour-primary, 35%)
);

@mixin bloc-mods($map){
    @each $mod, $val in $map{
        &--#{$mod} {
            background: $val;
        }
    }
}



@mixin tablet-only {
    @media (min-width: 600px) and (max-width: 1199px){
        @content;
    }
}

@mixin desktop-only {
    @media (min-width: 1199px){
        @content;
    }
}
