$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-accent: #99E2D0;

$colour-white: #fff;

$colour-lightgray: #f6f6f6;
$colour-grey: #eaeaea;
$colour-darkgrey: #353535;

$colour-degrade: linear-gradient(to bottom right, $colour-secondary, $colour-primary);
